# Dependencias
node_modules/

# Vercel
.vercel

# Variables de entorno
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Lock file (opcional - comentar si quieres versionarlo)
# pnpm-lock.yaml
.env*

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
